/* Reset styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

main h2 {
    color: #007bff;
}

main p {
    margin-bottom: 20px;
}

main ul {
    margin-bottom: 20px;
}

main ul li {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    margin-top: 111px;
    padding: 10px;
}

footer p {
    margin: 0;
}
