@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

.nav-logo{
  height: 80px;
  padding-left: 10px;
  padding-top: 15px;
}

.navbar-nav{
  display: flex;
  justify-content: center;
}

.bg-div{
    height: 600px;
    width: 100vw;
    background-image: url(./logo-images/bg-image.png);
    background-size: cover;
    display: flex;
}
.intro-left{
    height: 100%;
    width: 50%;
    padding: 9%;
    font-size: 3.2vw;
    font-family: monospace;
}

.intro-right{
  display: flex;
  align-items: center;
  padding-left: 120px;
}

.doc-img{
  /* height: 60vh; */
  width: 32vw;
  /* height: 500px; */
  filter: drop-shadow(2px 2px 2px rgb(102, 17, 222));
}

#description{
    font-size: 0.9rem;
}

.card-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.card-intro{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: rgb(10, 153, 153);
}

.card{
  padding: 20px;
  transition: all .2s ease-in-out;
}

.card:hover{
  transform: scale(1.02);
  border-radius: 10px;
  box-shadow:  11px 11px 22px #a1a1a1,
             -11px -11px 22px #ffffff;
}

.logo-img{
    width: 20px;
}

.right-arrow{
  font-size: 5vw;
  color: #666;
  align-self: center; 
}


* {
  font-family: Open Sans;
}


section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  margin-top: 80px;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-logo{
  height: 10vw;
}

.footer-icons{
  width: 300px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.fa-brands{
  color: white;
  background-color: blue;
  transition: all .2s ease-in-out;
}

.fa-brands:hover{
  color: blue;
  background-color: white;
  transform: scale(1.3);
}


